/* MOVEABLE TYPE EXPERIMENT */



/* Base styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Chango', impact, sans-serif;
  font-weight: bold;
  color: #85b712;
  background-color: #004403;
  animation-name: text-color;
  animation-duration: 1s;
  animation-delay: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  overflow: hidden;
  display: grid;
  align-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

/* Succulent */

.text {
  text-align: center;
  font-size: 2em;
  font-weight: normal;
  animation-name: from-top;
  animation-duration: 1.75s;
  animation-timing-function: ease-in-out;
  letter-spacing: -0.1em;
  transform-origin: center bottom;
  animation-iteration-count: 1;
}

.text span {
animation-name: left;
animation-duration: 0.75s;
animation-delay: 2s;
animation-timing-function: ease-in-out;
display: inline-block;
}

.text span:first-child {
  animation-delay: 2s;
}

.text span:nth-child(2) {
  animation-delay: 2.25s;
}

.text span:nth-child(3) {
  animation-delay: 2.5s;
}

.text span:nth-child(4) {
  animation-delay: 2.75s;
}

.text span:nth-child(5) {
  animation-delay: 3s;
}

.text span:nth-child(6) {
  animation-delay: 3.25s;
}

.text span:nth-child(7) {
  animation-delay: 3.5s;
}

.text span:nth-child(8) {
  animation-delay: 3.75s;
}

.text span:last-child {
  animation-delay: 4s;
}


.succulent {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  animation-name: succulent;
  animation-duration: 5.5s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  opacity: 0;
  transform: rotate(0); scale(5);
  animation-fill-mode: forwards;
  z-index: -1;
  /*position: absolute;
  left: 50vw;*/
}

.rotating {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.rotating-text { 
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 2em;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  animation-timing-function: ease-in-out;
}

.rotating-text:nth-of-type(1) {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-delay: 6.5s;
}

.rotating-text:nth-of-type(2) {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-delay: 7.75s;
}

.rotating-text:nth-of-type(3) {
  animation-name: rotate-last;
  animation-duration: 1.5s;
  animation-delay: 9s;
  animation-fill-mode: forwards;
}


/* Media Queries */

@media (min-width: 500px) {

.text {
    font-family: 'Chango', impact, sans-serif;
    font-weight: bold;
    font-size: 2em;
  }

  .succulent {
  width: 5em;
  height: 5em;
  }

  .rotating-text {
    font-size: 2em;
  }

}

@media (min-width: 768px) {

.text {
    font-family: 'Chango', impact, sans-serif;
    font-weight: bold;
    font-size: 4em;
  }

.succulent {
  width: 10em;
  height: 10em;
  }

  .rotating-text {
    font-size: 4em;
  }

}

@media (min-width: 1024px) {

.text {
    font-family: 'Chango', impact, sans-serif;
    font-weight: bold;
    font-size: 5em;
  }

.succulent {
  width: 13em;
  height: 13em;
  }

.rotating-text {
  font-size: 4em;
}

}



/* Animation */

@keyframes from-top {

  0% {
    transform: translateY(-100vh) scaleX(0.5) scaleY(1.5);
  }

50% {
  transform: translateY(5vh) scaleX(1.1) scaleY(0.8);
}

70% {
  transform: translateY(-2.5vh) scaleY(1.1) scaleX(0.9);
}

80% {
  transform: translateY(0.5vh) scaleY(1) scaleX(1);
}

90% {
  transform: translateY(-0.25vh) scaleY(1.05) scaleX(1);
}

  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
  }
}


@keyframes left {

  0% {
    transform: translateX(0);
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    transform: translateX(-2em);
    color: #004403;
    opacity: 0.5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes succulent {

  0% {
    opacity: 0;
    transform: rotate(0deg) scale(10);
  }

50% {
  opacity: 0;
}

80% {
  opacity:.5;
}

  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1);
  }
  
}

@keyframes text-color {

from {
  color: #85b712;
}

to {
  color: #c6ff44;
}

}

@keyframes rotate {

  0% {
    opacity: 0;
     transform: translate3d(0, 50px, 0);
  }
  
  20%, 80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  
  100% {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }

}

@keyframes rotate-last {

  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

}